.section__order {}

.order-inner {}

.order-box {
    flex: 1 1 100%;
}

.order-box__inner {
    display: block;
}

.order-box__inner.hide {
    display: none;
}


/*  */

.order-title {
    margin-bottom: 32px;
    padding-left: 24px;
    font-size: 48px;
    font-weight: 400;
    line-height: 66px;
    color: #1A1F16;
}

.order-title__number {}


/*  */

.order-address {
    margin-bottom: 24px;
    padding: 24px 24px;
    border-radius: 13px;
    background-color: #ffffff;
}

.order-adress__title {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 31px;
    line-height: 43px;
    color: #1A1F16;
}

.address__row {
    display: flex;
    justify-content: space-between;
}

.address-item {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #1A1F16;
    text-align: left;
}

.address-item:last-child {
    margin-bottom: 0px;
}

.payment {
    margin-bottom: 24px;
    padding: 24px 24px;
    border-radius: 13px;
    background-color: #ffffff;
}

.payment__title {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 31px;
    line-height: 43px;
    color: #1A1F16;
}

.payment__method {
    margin-left: 30px;
    position: relative;
}

.payment__method::before {
    content: '';
    width: 21px;
    height: 17px;
    position: absolute;
    top: 2px;
    left: -28px;
    background-image: url('../img/order/card-vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 17px;
}

.order-payment__row {}


/*  */

.order-cart-wrapper {}

.order-cart {}

.order-cart__item {
    margin-bottom: 24px;
    padding: 16px 8px 43px;
    display: flex;
    justify-content: start;
    column-gap: 16px;
    background-color: transparent;
    border-radius: 21px;
    background-color: #ffffff;
}

.order-cart__item:last-child {
    margin-bottom: 0px;
}

.cart-item__img-wrapper {
    flex: 0 0 204px;
    height: 254px;
    background-color: #ffffff;
}

.cart-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-wrap {
    flex: 1 1 auto;
}

.cart-item__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 31px;
    line-height: 43px;
    color: #1A1F16;
}

.cart-item__subtitle {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #60695C;
}

.cart-item__desc {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1A1F16;
}

.cart-rating {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0px;
}

.cart-rating__stars {
    display: inline-block;
    width: 168px;
    height: 24px;
    background-image: url('../img/product-page/rating.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 168px 24px;
}

.cart-rating__numbers {
    padding-top: 3px;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #12805D;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-row__item {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1A1F16;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.price-wrapper {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1A1F16;
}

.cart-row__price {}

.cart-row__symbol {
    margin-left: 10px;
    margin-right: 10px;
}

.cart-row__quantity {}


/*  */

.order-cart__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order-total {
    margin-bottom: 16px;
    padding: 8px 0px;
}

.order-total__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #E5252C;
}

.order-sidebar {
    padding: 16px;
    display: block;
    border-radius: 12px;
    background-color: #ffffff;
}

@media (hover: hover) {}

@media(max-width: 1100px) {
    .address__title,
    .payment__title {
        font-size: 30px;
        line-height: 38px;
    }
    .order-adress__title {
        font-size: 30px;
        line-height: 38px;
    }
    .cart-item__img-wrapper {
        flex: 0 0 110px;
        height: 160px;
    }
    .cart-item__desc {
        font-size: 14px;
        line-height: 18px;
    }
}

@media(max-width: 1010px) {}

@media(max-width: 900px) {}

@media(max-width: 767px) {
    .address,
    .payment {
        padding: 22px 16px;
    }
    .address-item,
    .payment__method {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 22px;
    }
    .payment__method {
        margin-left: 24px;
    }
    .payment__method::before {
        width: 16px;
        height: 12px;
        top: 7px;
        left: -23px;
        background-size: 16px 12px;
    }
    .cart-item {
        margin-bottom: 20px;
        padding: 16px 24px;
        row-gap: 4px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart-item__img-wrapper {}
    .cart-item__title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
    .cart-item__subtitle {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
    .cart-item__desc {
        margin-bottom: 10px;
    }
}

@media(max-width: 656px) {
    .order-box {
        order: 2;
    }
    .sidebar {
        order: 1;
    }
    .order-adress__title,
    .order-payment__title {
        font-size: 36px;
        line-height: 42px;
    }
    .cart-item {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 4px;
        row-gap: 4px;
    }
    .cart-item__img-wrapper {
        flex: 0 0 70px;
        height: 101px;
    }
    .cart-item__title {
        text-align: left;
    }
    .cart-item__subtitle {
        text-align: left;
    }
}

@media(max-width: 450px) {
    .cart-item {
        padding: 10px 10px;
    }
}

@media(max-width: 400px) {
    .address,
    .payment {
        padding: 22px 10px;
    }
    .order-title {
        margin-bottom: 14px;
        padding-left: 0px;
        font-size: 37px;
        line-height: 45px;
        text-align: center;
    }
    .order-address {
        margin-bottom: 18px;
    }
    .payment {
        margin-bottom: 18px;
    }
    .order-adress__title,
    .order-payment__title {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
    }
    .order-cart__item {
        column-gap: 4px;
    }
    .cart-item__img-wrapper {
        flex: 0 0 52px;
        height: 94px;
    }
    .order-cart__item {
        margin-bottom: 18px;
        padding: 16px 8px 23px;
    }
}

@media(max-width: 375px) {
    .price-wrapper {
        font-size: 14px;
        line-height: 16px;
    }
    .cart-row__symbol {
        margin-left: 5px;
        margin-right: 5px;
    }
    .btn-wrapper {
        column-gap: 6px;
    }
    .cart-btn__quantity {
        margin-left: 0px;
        margin-right: 0px;
    }
}